*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}

nav{
    width: 100%;


}

nav ul{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav li{
    list-style: none;
    color: grey;

}

#logo{
    color:black;
    font-weight: bolder;
}

.hero-container{
    width: 1350px;
    
}

.hero-section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img{
    width: 97%;
    height: 92vh;   
    
    /* position: relative; */
    
}
.img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(8, 8, 8, 0.5), rgba(110, 117, 7, 0));
    pointer-events: none;
    border-radius: 30px;
  }

img{
    width: 100%;
    height: 95%;
    border-radius: 30px;
    object-fit: cover;
    /* background-position: center; */
    
    

}

.details {
    position:absolute;
    top: 20px;
    left: 20;
    width: 1280px;
    /* height: 0vh; */
    gap: 390px;
    display: flex;
    flex-direction: column;
    
}

/* .upper{
    
   
} */

.fa-brands{
    color: white;
    font-size: 20px;
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;

}

/* .lower{
    
    
} */

.icons i{
    color: yellow;
}


.lower div p{
    color: white;
}

.lower div ul{
    width: 400px;
    align-items: center;
    /* display: flex;
    justify-content: space-between; */
}

.lower div li{
    color: white;
    list-style: none;
    
}

.home{
    border: 1px white solid;
    padding: 5px 30px;
    border-radius: 30px;

}

@media (max-width: 576px){

    nav{
        width: auto;
    }

    .hero-container{
        width: auto;
    }

    .img::after {
        content: '';
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(8, 8, 8, 0.5), rgba(110, 117, 7, 0));
        pointer-events: none;
        border-radius: 30px;
      }

      .upper{
        font-size: 15px;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 15px;
      }

      .lower{
        width: 97%;
        
      }

      .lower div ul{
        width: auto;
        gap: 16px;
      }

      .lower div li{
        font-size: 12px;
      }

      .lower div p{
        font-size: 14px;
      }



      .details{
        width: 95%;
        gap: 390px;
      }

      .home{
        padding: 5px;
      }

      
}